.article h2 {
  font-weight: bold;
  font-size: 24px;
  color: #333333;
  margin: 48px 0 24px 0;
}

.article h3 {
  font-weight: bold;
  font-size: 20px;
  color: #333333;
  margin: 44px 0 20px 0;
}

.article h4 {
  font-weight: bold;
  padding-bottom: 0.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #e0e0e0;
}

.article blockquote {
  position: relative;
  padding: 10px 15px 10px 20px;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-style: italic;
  background: #f5f5f5;
  color: #777777;
  border-left: 4px solid #0f83fd;
}

.article table {
  margin: 2rem auto;
  text-indent: 0;
  line-height: 1.5;
  width: 100%;
  height: auto;
}

.article table tbody {
  border: 1 solid #e5e7db;
}

.article th {
  text-align: left;
  font-weight: bold;
  background: #eaf4fc;
  padding-left: 0.75rem;
  border: 1px solid #cfdce6;
}

.article td {
  border: 1px solid #cfdce6;
  padding-left: 0.75rem;
}

.article ul {
  padding-left: 1.5rem;
}

.article ul > li {
  list-style: disc;
  margin: 0.4rem auto;
}

.article a {
  color: #0f83fd;
}

.article p {
  margin-bottom: 16px;
}

.article img {
  margin-bottom: 32px;
  border: solid #c3bdbd 1px;
}

.article pre {
  background: #1a2638 !important;
  border: none !important;
}

.article pre code {
  font-size: 14px;
  font-family:
    SFMono-Regular,
    Consolas,
    Liberation Mono,
    Menlo,
    monospace,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
}

.article .code-block-filename {
  background: #1a2638;
  color: white;
  padding: 2px 4px;
  border-radius: 5% 5% 0 0;
  position: relative;
  top: 1px;
}
